<div class = 'event-top-cnt'>
	<h3>Календарь</h3>
	<%= link_to 'Создать событие', new_calendar_event_path %>
</div>

<div class = 'event-bot-cnt'>

	<% if @events.size != 0 %>
		<%= render 'calendar', events: @events %>
	<% else %>
		<h2>В календаре нет событий</h2>
	<% end %>

</div>