html, body {
	font-family: 'PT Sans', sans-serif;
	// overflow-x: hidden;
	font-size: 0;
	color: $text_color;
}

html, body, section, header, footer, h1, h2, h3, h4, h5, h6, p, ul, li, span {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

h1 {
	font-size: 24px;
}

ul {
	list-style-type: none;
}

a {
	color: $link_color;
}

a:hover {
	text-decoration: none;
}

.app-cnt {
	min-width: 1000px;
	background-color: $bg_color;
}

.std-form-cnt {
	padding: 10px;
	margin: 0px auto;
	padding-top: 20px;
	width: 400px;
	background-color: $bg_2_color;
	border-radius: 6px;
}

.std-form-cnt p {
	font-weight: bold;
	margin-top: 8px;
}

.std-form-cnt h2 {
	margin-bottom: 10px;
	text-align: center;
}

.std-field input, .std-field select {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 16px;
	height: 30px;
	padding: 5px;
}

.std-btn {
	text-align: center;
}

.std-btn input[type='submit'] {
	color: $text_color;
	font-size: 16px;
	padding: 6px 18px;
}

input[type='submit']:hover {
	cursor: pointer;
}

.std-errors-cnt h2 {
	display: none;
	font-size: 16px;
	margin: 10px 0px;
}

.std-errors-cnt ul {
	margin: 10px 0px;
}

.std-errors-cnt li {
	color: $error_color;
	margin: 5px 0px;
	font-size: 12px;
}

.notice {
	margin: 5px;
	padding: 8px 12px;
	border-radius: 6px;
	font-size: 14px;
	background-color: #8bd694;
	position: absolute;
}

.alert {
	margin: 5px;
	padding: 8px 12px;
	border-radius: 6px;
	font-size: 14px;
	background-color: #fd7b7b;
	position: absolute;
}