.event-top-cnt {
	padding: 10px 40px;
	box-sizing: border-box;
	height: 60px;
	background-color: $bg_2_color;
	line-height: 40px;
	display: flex;
	justify-content: space-between;
	border-radius: 6px;
}

.event-top-cnt a {
	border-radius: 6px;
	text-decoration: none;
	padding: 0px 10px;
	background-color: $text_color;
	color: $bg_2_color;
	transition: .3s;
}

.event-top-cnt a:hover {
	color: #fafafa;
	background-color: $link_color;
}

.event-bot-cnt {
	margin: 10px 0px 30px;
	background-color: $bg_2_color;
	padding: 30px 40px;
	border-radius: 6px;
}

.event-bot-cnt h2 {
	text-align: center;
}

.event-years-cnt {
	margin-bottom: 20px;
	font-size: 18px;
}

.event-years-cnt a {
	margin-right: 20px;
}

.active-year {
	color: $text_color;
	text-decoration: none;
	font-weight: bold;
}

.event-months-cnt {
	margin-bottom: 20px;
}

.event-months-cnt a {
	margin-right: 12px;
}

.active-month {
	color: $text_color;
	text-decoration: none;
}

.event-table-cnt {
	width: 840px;
	margin: 0px auto;
}

.event-table-header-cnt {
	margin-bottom: 5px;
}

.event-table-header-cnt ul {
	display: flex;
	justify-content: space-around;
}

.event-table-header-cnt li {
	font-weight: bold;
}

.event-table-body-cnt ul {
	font-size: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.event-table-cell {
	padding: 5px 0px;
	border-radius: 4px;
	font-size: 14px;
	width: 110px;
	box-sizing: border-box;
	display: inline-block;
	min-height: 120px;
	border: 1px solid $text_color;
	margin-bottom: 8px;
}

.disable-cell {
	opacity: .35;
}

.event-table-cell a {
	text-decoration: none;
	color: $text_color;
}

.event-cell-el {
	font-size: 12px;
	padding: 5px;
	background-color: #62abc7;
	margin-bottom: 4px;
	opacity: .7;
}

.event-cell-el:hover {
	opacity: 1;
}

.event-cell-el.green {
	background-color: #8bd694;
}

.event-list-cnt li {
	line-height: 30px;
	height: 50px;
	box-sizing: border-box;
	background-color: $bg_color;
	padding: 10px 20px;
	border-radius: 6px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;	
}

.event-list-cnt li:nth-child(1){
	background-color: $text_color;
	color: $bg_color
}

.event-list-cnt li span {
	font-size: 14px;
	display: inline-block;
	width: 20%;
}

.event-list-actions-cnt {}

.event-list-actions-cnt a {
	display: inline-block;
	text-decoration: none;
	opacity: .7;
}

.event-list-actions-cnt a:hover {
	opacity: 1;
}

.event-list-actions-el {
	margin: 0px 5px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-size: contain;
}

.event-list-actions-el.trash {
	background-image: url('/assets/delete.svg');
}

.event-list-actions-el.pencil {
	background-image: url('/assets/edit.svg');
}

.event-list-actions-el.document {
	background-image: url('/assets/show.svg');
}